body{
    background-image: url("chefe.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1920px 1150px;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    }